h1 {
  align-self: flex-start;
}

b {
  font-size: 2rem;
  margin-block: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
  background-color: #e5e5e5;
  padding-left: 30px;
}

.navbar a {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .active {
  background-color: #fff;
  color: #000;
}
.page {
  width: 90vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.home a {
  width: 120px;
  aspect-ratio: 1;
  background-color: #faff00;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.3s;
}
.home a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.actions {
  display: flex;
  gap: 30px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

button img {
  width: 30px;
}

button:disabled {
  cursor: not-allowed;
  box-shadow: none;
}
