* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #9a64ec;
}

.navbar img {
  height: 60%;
  cursor: pointer;
}

nav {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

nav a {
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

nav a:hover {
  background-color: #e1d1f976;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home > img {
  width: 40vw;
  margin: 0 auto;
}
.socails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.socails img {
  width: 40px;
  cursor: pointer;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  height: 50vh;
  margin: 30px auto;
  padding-inline: 20px;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form input,
textarea {
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 15px;
}

form input {
  border-radius: 30px;
}

form button {
  outline: none;
  border: none;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #9a64ec;
  color: #fff;
}

.item-list {
  margin-top: 30px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item h3 {
  align-self: flex-start;
}
.item img {
  width: 150px;
}
